In [93]:
import pandas as pd

df = pd.read_csv("param.csv")

In [94]:
df.head()

   Year        It     It/Kt
0  1947  1.238212  0.451769
1  1948  0.839717  0.404152
2  1949  0.543115  0.300106
3  1950  0.199822  0.109397
4  1951  0.276243  0.152660

In [95]:
df["Kt"] = df["It/Kt"]/df["It"]   # Create Separate Variables

In [96]:
alpha = 13.22  # Initialisation values
mp = 0.16

In [97]:
ar = [mp, alpha] # initialisation array

In [98]:
## The version dulani prefers
## (0.9*(mp+(1+alpha*(It/Kt)**3)/((1-(1.5*alpha)*(It/Kt)**2))*(1-(1.5*alpha)*(It.shift(-1)/Kt.shift(-1))**2))).mean()

## The version I prefer
## (0.9*(mp+(1+alpha*(It.shift(-1)/Kt.shift(-1))**3)/((1-(1.5*alpha*(It.shift(-1)/Kt.shift(-1))**2))))*(1-(1.5*alpha*(It/Kt)**2))).mean()

In [105]:
import scipy.optimize as optimize

# This defines the function to be optimised
def f(ar):
    It = df["It"]
    Kt = df["Kt"]
    mp, alpha = ar  ## Here I load the parameters from the array
    
    return (0.9*(mp+(1+alpha*(It/Kt)**3)/((1-(1.5*alpha)*(It/Kt)**2))*(1-(1.5*alpha)*(It.shift(-1)/Kt.shift(-1))**2))).mean()

In [106]:
def conmean(ar):
    It = df["It"]
    Kt = df["Kt"]
    mp, alpha = ar
    ## here you set the equality with mean
    return (0.9*(mp+(1+alpha*(It/Kt)**3)/((1-(1.5*alpha)*(It/Kt)**2))*(1-(1.5*alpha)*(It.shift(-1)/Kt.shift(-1))**2))).mean() - 0.0089

In [107]:
def consd(ar):
    It = df["It"]
    Kt = df["Kt"]
    mp, alpha = ar
    ## here you set the equality with sd
    return (0.9*(mp+(1+alpha*(It/Kt)**3)/((1-(1.5*alpha)*(It/Kt)**2))*(1-(1.5*alpha)*(It.shift(-1)/Kt.shift(-1))**2))).std() - 0.026387549

In [108]:
cons = ({'type':'eq', 'fun': conmean},   ## Add constraints here
       {'type':'eq', 'fun': consd})

In [110]:
import scipy
x0 = [0.16, 13.22]  ## add initialisation here

res = scipy.optimize.minimize(f,x0, constraints=cons)

In [113]:
res

     fun: -4712541557.682465
     jac: array([ 0.00000000e+00, -3.56481856e+08])
 message: 'Optimization terminated successfully.'
    nfev: 52
     nit: 12
    njev: 8
  status: 0
 success: True
       x: array([-466.79651676,   13.22      ])

In [114]:
## mp
res["x"][0]

-466.7965167606627

In [115]:
## alpha
res["x"][1]

13.219999997356032